/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #feffff;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.nav-links a {
  color: #4c447e;
}

/* LOGO */
.logo img {
  width: 150px; /* Ukuran yang sesuai untuk logo di website */
  height: auto; /* Membuat logo responsif */
  display: block; /* Menghilangkan space di bawah logo */
  margin: 0 auto; /* Memposisikan logo di tengah secara horizontal */
  position: relative; /* Membuat logo posisi relatif */
  top: 50%; /* Memposisikan logo di tengah secara vertikal */
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li a:hover {
  color: #120d31;
  transition: 0.3s ease;
}

.menu li:first-child a {
  color: #120d31;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
/* .services {
  position: relative;
}

.dropdown {
  background-color: #feffff;
  padding: 1em 0;
  position: absolute; WITH RESPECT TO PARENT
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
} 

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}  */

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #feffff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .menu li:hover {
    display: inline-block;
    color: #120d31;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

/* Navbar END */

/* Hero Section Start */
.hero-section {
  margin-top: 70px;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
} */
/* Hero Section End */

/* Welcome Section Start */
.welcome-section {
  text-align: center;
}

.title {
  background-color: #162a5f;
  color: #ffffff;
  padding: 20px;
}

.title h2 {
  font-size: 50px;
}

.title h1 {
  font-size: 60px;
}

.text {
  color: #68696a;
  padding: 20px;
  font-size: 37px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .title,
  .text {
    padding: 10px;
  }

  .title h2 {
    font-size: 20px;
  }

  .title h1 {
    font-size: 30px;
  }

  .text {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/* Welcome Section End */

/* Content Section Start */
.content-section {
  text-align: center;
}

.title-content {
  background-color: #162a5f;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
}

.logo-img {
  text-align: left;
  padding-left: 5%;
}

.container-img-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.img-content {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.img-content img {
  height: auto;
}

.img-content > div {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 30px;
}

.title-section-content {
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 40px;
}

.text-section-content {
  margin-bottom: 20px;
  font-size: 31px;
  color: #868698;
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 768px) {
  .title-content {
    font-size: 30px;
  }
  .logo-img {
    text-align: center;
    padding-left: 0;
  }

  .title-section-content {
    font-size: 30px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .text-section-content {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
  }

  .img-content img {
    max-width: 500px;
  }
}
/* Content Section End */

/* Button "See More" Start */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.see-more {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #162a5f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.see-more:hover {
  background-color: #133a6d;
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-left: 5px;
}
/* Button "See More" End*/

/* Footer Start */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #464d70;
  padding: 20px;
  margin-top: 40px;
  color: #ffffff;
}

.footer-left {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #163e63;
  font-weight: bold;
  font-size: large;
}
.footer-left img {
  width: 80px;
}

.footer-left p {
  margin-top: 10px;
}

.footer-middle h3,
.footer-right h3 {
  margin-bottom: 10px;
}

.social-media li,
.contact-info li {
  list-style: none;
  margin-bottom: 5px;
}

.social-media a,
.contact-info li {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  margin-top: 15px;
  font-size: larger;
  color: #ffffff;
}

.social-media a i,
.contact-info li i {
  margin-right: 5px;
}

.social-media a:hover {
  color: #162a5f;
}

.fa-twitter {
  color: #33ccff;
}

.fa-facebook {
  color: #337fff;
}

.fa-phone,
.fa-envelope {
  color: #222222;
}

.fa-whatsapp {
  color: #00d95f;
}

.fa-instagram {
  background: linear-gradient(45deg, #fbe18a, #d43592);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-info li i {
  width: 20px;
}

.contact-info li span {
  margin-left: 5px;
}

/* Styling for screens smaller than 768px */
@media (max-width: 768px) {
  footer {
    display: grid;
    grid-template-areas:
      "footer1 footer1"
      "footer3 footer4";
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    padding: 20px;
    margin-top: 40px;
  }

  .footer-left {
    grid-area: footer1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-middle {
    grid-area: footer3;
  }

  .footer-right {
    grid-area: footer4;
  }

  .footer-middle,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-middle h3,
  .footer-right h3 {
    margin-bottom: 10px;
  }

  .social-media a,
  .contact-info li {
    font-size: 16px;
  }
}

/* Styling for screens smaller than 480px */
@media (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-middle,
  .footer-right {
    text-align: center;
    margin-bottom: 20px;
  }

  .social-media li,
  .contact-info li {
    margin-bottom: 10px;
  }
}

/* Footer End */
